body {
  padding: 0;
  margin: 0;

}

#map,
body,
html {
  height: 100%;
}

/* formating for the map legend */
.info.legend {
  background-color: white;
  padding: 6px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend-color {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}